 <section class="user-forms">
  <div class="container">
    <div class="form-height">
      <div class="vcenter">
        <div class="row">
          <div class="col-md-3">            
          </div>

          <div class="col-md-6">
            <div class="form-border">
            <h3 class="text-center">Submit a Inspiration</h3>
              <%= simple_form_for @post do |f| %>
              <%= f.input :title, label: false, placeholder: "Title" %>
              <%= f.input :link, label: false, placeholder: "Link" %>
              <%= f.input :image, label: false, class: "form-control" %>
              <%= f.input :description, label: false, placeholder: "Description" %>
              <%= f.button :submit, "Submit", class: "btn btn-success signup-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>