<h2><%= @post.title %></h2>
<p><%= @post.link %></p>
<p><%= @post.description %></p>

<%= link_to 'Edit', edit_post_path(id: @post.id) %>
<%= link_to 'Destroy', post_path(id: @post.id), method: :delete %>
