<div class="container">
<h2><%= @post.title %></h2>
<p><%= @post.link %></p>
<%= image_tag @post.image.url(:medium) %>
<p><%= @post.description %></p>

<p> By <%= @post.user.name %>

<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
<% end %>

<h2><%= pluralize(@post.comments.count, "Comment") %></h2>
<%= simple_form_for([@post, @post.comments.build]) do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>



<%= link_to 'Edit', edit_post_path(id: @post.id) %>
<%= link_to 'Destroy', post_path(id: @post.id), method: :delete %>
</div>
