<!DOCTYPE html>
<html>
<head>
  <title>98 Inspirations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>
<body>
<%= render 'common/navigation' %>
<%= yield %>
<div class="row">
  <div class="col-md-12">
    <div class="footer">
      <p class="text-center"><%= fa_icon "heart" %><strong>   Designed by Mahendhar</strong></p>
    </div>
  </div>
</div>

</body>
</html>
